body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  overflow: hidden;
}

canvas {
  outline-style: none;
  outline-color:white;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  image-rendering: pixelated;
}
