body{
  margin: 0;
  padding: 0;
}


#contenedor-ojo{
  position: absolute;
  width: 10%;
  height: auto;
  left: 25%;
  top: 30%;
  background-color: rgb(40, 40, 40);
  border-style: solid;
}

img{
  width: 100%;
  display: block;
}

p{
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 10%;
}