@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  padding: 0;
}

#contenedor-maquina {
  position: absolute;
  width: 500px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

#contenedor-maquina img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

#contenedor-maquina:hover{
  cursor: pointer;
}

#contenedor-hoja {
  position: absolute;
  background-color: #e5ebf0;
  top: 0;
  left: 20%;
  width: 60%;
  height: 25%;
  z-index: 1;
}

#texto-hoja {
  font-family: Courier Prime, monospace;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 2;
}
